---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>

  <section class="page-navigation">
    {% if page.previous.url and page.showprev %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url and page.shownext %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}

  {% if page.fb %}
  {% include facebook-init.html %}
    <section>
      <div class="fb-like" data-href="{{ site.url }}{{ page.url }} " data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
      <hr>
      <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="4"></div>
    </section>
  {% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
